.h2{
    font-weight: bold;
    float: right;
    margin-right: 100px;
}


.summit{
    background-color: black;
    color:white;
    height: 40px;
    width: 400px;
    margin-top: 40px;
    margin-left: 50px;
}

.inputtxt{
    margin-top: 40px;
    font-size: 20px;
    margin-right: 40px;
}

.userinput{
    height: 40px;
    float: right;
    margin-right: 45px;
    flex-wrap: wrap;
    display: block;
}

.input{
    width: 500px;
}

.emoji{
    float: right;
    margin-top: 0%;
}

.hline{
    border-bottom: 10px solid #000;
    display: block;
    margin-top: 40px;
}

.vline{
    border-left: 10px solid #000;
    height: 600px;
    padding-left: 40px;
}