.h2{
    font-weight: bold;
    float: right;
    margin-right: 100px;
}


.summit{
    background-color: black;
    color:white;
    height: 40px;
    width: 400px;
    margin-top: 40px;
    margin-left: 50px;
}

.inputtxt{
    margin-top: 40px;
    font-size: 20px;
    margin-right: 40px;
}

.userinput{
    height: 40px;
    float: right;
    margin-right: 45px;
    flex-wrap: wrap;
    display: block;
    position:static;
    margin-top: 0px;
}

.input{
    width: 500px;
}

.vline{
    border-left: 10px solid #000;
    height: 600px;
    padding-left: 40px;
}

.circle{
    background-color: yellow;
    background-image: linear-gradient(yellow, purple);
    border-radius:200px ;
    width: 400px;
    height: 400px;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 100px;
    position:absolute ;
}
